.input-wrap {
  margin-bottom: 1rem;
  label {
    @include title(p2, 500);
  }
  .ant-input-affix-wrapper {
    margin-top: 0.8rem;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-radius: 0;
    border-bottom-width: 0.2rem;
    padding: 1.1rem 0;
    @include color(border-color, black);
    > input.ant-input {
      @include title(h5, 500);
    }
    &:not(.ant-input-affix-wrapper-disabled):hover {
      border-inline-end-width: 0;
    }
    .ant-input-clear-icon {
      font-size: 1.6rem;
    }
    &.ant-input-affix-wrapper-disabled {
      @include color(border-color, gray-400);
    }
  }
  .ant-input {
    @include fontFamily;
  }
  .ant-input-affix-wrapper-disabled {
    background-color: transparent;
  }
}
