html,
body {
  font-family: "notosans", "pretendard", "NotoKr", "Malgun Gothic", "맑은 고딕",
    Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 2.7778vw;
}
#app {
  height: 100%;
}
h2,
.h2 {
  @include title(h2);
}
h3,
.h3 {
  @include title(h3);
}
h4,
.h4 {
  @include title(h4);
}
h5,
.h5 {
  @include title(h5);
}
h6,
.h6 {
  @include title(p1);
}
.p1 {
  @include title(p1);
}
.p1-bold {
  @include title(p1, 700);
}
.p2 {
  @include title(p2);
}
.p2-bold {
  @include title(p2, 700);
}
.p3 {
  @include title(p3);
}
.p3-bold {
  @include title(p3, 700);
}
.caption1 {
  @include title(caption1);
}
.caption1-bold {
  @include title(caption1, 700);
}
.caption2 {
  @include title(caption2);
}
.caption2-bold {
  @include title(caption2, 700);
}

@for $i from 0 through 10 {
  .padding#{$i*4} {
    padding: 0.4rem * $i !important;
  }
  .padding-l-#{$i*4} {
    padding-left: 0.4rem * $i !important;
  }
  .padding-t-#{$i*4} {
    padding-top: 0.4rem * $i !important;
  }
  .padding-b-#{$i*4} {
    padding-bottom: 0.4rem * $i !important;
  }
  .padding-r-#{$i*4} {
    padding-right: 0.4rem * $i !important;
  }
  .margin#{$i*4} {
    margin: 0.4rem * $i !important;
  }
  .margin-l-#{$i*4} {
    margin-left: 0.4rem * $i !important;
  }
  .margin-t-#{$i*4} {
    margin-top: 0.4rem * $i !important;
  }
  .margin-b-#{$i*4} {
    margin-bottom: 0.4rem * $i !important;
  }
  .margin-r-#{$i*4} {
    margin-right: 0.4rem * $i !important;
  }
}

@for $i from 0 through 20 {
  .w#{$i*5}p {
    width: 5% * $i;
  }
}

//align
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.em-red {
  @include color(color, red-500);
}
