/* notosans */
@font-face {
  font-family: "notosans";
  font-weight: 900;
  font-display: swap;
  src: local("notosans Black"),
    url(./../../fonts/notosans/NotoSans-Black.woff2) format("woff2"),
    url(./../../fonts/notosans/NotoSans-Black.woff) format("woff");
}
/*
@font-face {
  font-family: "notosans";
  font-weight: 800;
  font-display: swap;
  src: local("notosans ExtraBold"),
    url(./../../fonts/notosans/NotoSans-ExtraBold.woff2) format("woff2"),
    url(./../../fonts/notosans/NotoSans-ExtraBold.woff) format("woff");
}*/

@font-face {
  font-family: "notosans";
  font-weight: 700;
  font-display: swap;
  src: local("notosans Bold"),
    url(./../../fonts/notosans/NotoSans-Bold.woff2) format("woff2"),
    url(./../../fonts/notosans/NotoSans-Bold.woff) format("woff");
}
/*
@font-face {
  font-family: "notosans";
  font-weight: 600;
  font-display: swap;
  src: local("notosans SemiBold"),
    url(./../../fonts/notosans/NotoSans-SemiBold.woff2) format("woff2"),
    url(./../../fonts/notosans/NotoSans-SemiBold.woff) format("woff");
}*/

@font-face {
  font-family: "notosans";
  font-weight: 500;
  font-display: swap;
  src: local("notosans Medium"),
    url(./../../fonts/notosans/NotoSans-Medium.woff2) format("woff2"),
    url(./../../fonts/notosans/NotoSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "notosans";
  font-weight: 400;
  font-display: swap;
  src: local("notosans Regular"),
    url(./../../fonts/notosans/NotoSans-Regular.woff2) format("woff2"),
    url(./../../fonts/notosans/NotoSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "notosans";
  font-weight: 300;
  font-display: swap;
  src: local("notosans Light"),
    url(./../../fonts/notosans/NotoSans-Light.woff2) format("woff2"),
    url(./../../fonts/notosans/NotoSans-Light.woff) format("woff");
}
/*
@font-face {
  font-family: "notosans";
  font-weight: 200;
  font-display: swap;
  src: local("notosans ExtraLight"),
    url(./../../fonts/notosans/NotoSans-ExtraLight.woff2) format("woff2"),
    url(./../../fonts/notosans/NotoSans-ExtraLight.woff) format("woff");
}
*/
@font-face {
  font-family: "notosans";
  font-weight: 100;
  font-display: swap;
  src: local("notosans Thin"),
    url(./../../fonts/notosans/NotoSans-Thin.woff2) format("woff2"),
    url(./../../fonts/notosans/NotoSans-Thin.woff) format("woff");
}
