@mixin tablet {
  @media (max-width: 1199px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin pc_only {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin hidden {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
}
@mixin shadow($depth: 1) {
  @if ($depth == 1) {
    box-shadow: 0 0.1rem rgba(0, 0, 0, 0.25);
  }
}

@mixin ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($line == 1) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

@mixin flexbox {
  display: flex;
  align-items: center;
}

@mixin bodySpace {
  padding-left: 2rem;
  padding-right: 2rem;
}

// font
@mixin title($size: p3, $weight: 400) {
  @if ($size == h3) {
    font-size: 2.6rem;
    letter-spacing: -0.04em;
    line-height: 3.8rem;
    font-weight: $weight;
  } @else if($size == h4) {
    font-size: 2.2rem;
    letter-spacing: -0.04em;
    line-height: 3.2rem;
    font-weight: $weight;
  } @else if($size == h5) {
    font-size: 1.8rem;
    letter-spacing: -0.04em;
    line-height: 2.6rem;
    font-weight: $weight;
  } @else if($size == p1) {
    font-size: 1.6rem;
    letter-spacing: -0.04em;
    line-height: 2.6rem;
    font-weight: $weight;
  } @else if ($size == p2) {
    font-size: 1.4rem;
    letter-spacing: -0.04em;
    line-height: 2.2rem;
    font-weight: $weight;
  } @else if ($size == p3) {
    font-size: 1.2rem;
    letter-spacing: -0.03em;
    line-height: 1.8rem;
    font-weight: $weight;
  } @else if ($size == caption1) {
    font-size: 1.1rem;
    letter-spacing: -0.03em;
    line-height: 1.6rem;
    font-weight: $weight;
  } @else if ($size == caption2) {
    font-size: 1rem;
    letter-spacing: -0.03em;
    line-height: 1.6rem;
    font-weight: $weight;
  }
}

// bg
@mixin imgBg($size: null, $url: null) {
  background-image: url($url);
  background-position: center center;
  background-size: $size;
  background-repeat: no-repeat;
}
$colors: (
  type1: (
    black: #222,
    white: #fff,
    secondary: #f0f2f4,
    tertiary: #3c3c3c,
    gray-100: #eaebef,
    gray-300: #c5c5c5,
    gray-400: #a7a7a7,
    gray-600: #7a7a7a,
    gray-700: #666666,
    gray-050: #f0f2f4,
    red-500: #ff3a4a,
    purple: #6250fe,
  ),
  dark: (
    black: #fff,
    white: #222,
    secondary: #333,
    tertiary: #3c3c3c,
    gray-100: #eaebef,
    gray-300: #c5c5c5,
    gray-400: #a7a7a7,
    gray-600: #7a7a7a,
    gray-700: #666666,
    gray-050: #f0f2f4,
    red-500: #ff3a4a,
    purple: #6250fe,
  ),
);

@function setColor($key, $type: "type1") {
  @each $name, $color in map-get($colors, $type) {
    @if ($key == $name) {
      @return $color;
    }
  }
}

@mixin color($property, $color, $important: false) {
  #{$property}: setColor($color) #{if($important, "!important", "")};
  @at-root body.dark & {
    #{$property}: setColor($color, dark) #{if($important, "!important", "")};
  }
}

@mixin shadow($type: 1) {
  @if ($type == 1) {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
  }
}
section {
  @include color(background-color, black);
}

@mixin fontFamily($font: notosans) {
  @if ($font == notosans) {
    font-family: "notosans", "pretendard", "NotoKr", "Malgun Gothic",
      "맑은 고딕", Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
  }
}
