@mixin tablet {
  @media (max-width: 1199px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin pc_only {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin hidden {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
}

@mixin ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($line == 1) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

@mixin flexbox {
  display: flex;
  align-items: center;
}

// font
@mixin title($size: p3, $weight: 400) {
  @if ($size == h1) {
    font-size: 2.6rem;
    letter-spacing: -0.04em;
    line-height: 3.8rem;
    font-weight: $weight;
  } @else if($size == h2) {
    font-size: 2.2rem;
    letter-spacing: -0.04em;
    line-height: 3.2rem;
    font-weight: $weight;
  } @else if($size == h3) {
    font-size: 1.8rem;
    letter-spacing: -0.04em;
    line-height: 2.6rem;
    font-weight: $weight;
  } @else if($size == p1) {
    font-size: 1.6rem;
    letter-spacing: -0.04em;
    line-height: 2.6rem;
    font-weight: $weight;
  } @else if ($size == p2) {
    font-size: 1.4rem;
    letter-spacing: -0.04em;
    line-height: 2.2rem;
    font-weight: $weight;
  } @else if ($size == p3) {
    font-size: 1.2rem;
    letter-spacing: -0.03em;
    line-height: 1.8rem;
    font-weight: $weight;
  } @else if ($size == caption1) {
    font-size: 1.1rem;
    letter-spacing: -0.03em;
    line-height: 1.6rem;
    font-weight: $weight;
  } @else if ($size == caption2) {
    font-size: 1rem;
    letter-spacing: -0.03em;
    line-height: 1.6rem;
    font-weight: $weight;
  }
}

// bg
@mixin bg_img($size: null, $url: null) {
  background-image: url($url);
  background-position: center center;
  background-size: $size;
  background-repeat: no-repeat;
}
$colors: (
  type1: (
    black: #000,
    gray_f4: #f4f4f4,
    gray_9: #999,
    gray_fe: #fefefe,
  ),
  dark: (
    black: #fff,
    gray_f4: #333,
  ),
);

@function set_color($key, $type: "type1") {
  @each $name, $color in map-get($colors, $type) {
    @if ($key == $name) {
      @return $color;
    }
  }
}

@mixin color($property, $color, $important: false) {
  #{$property}: set_color($color) #{if($important, "!important", "")};
  @at-root body.dark & {
    #{$property}: set_color($color, dark) #{if($important, "!important", "")};
  }
}

section {
  @include color(background-color, black);
}
